<a href="https://colab.research.google.com/github/minatoyuichiro/graphcoloring/blob/master/00python/python4_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ループ
ループを利用することで繰り返し決まった処理ができます。まず、リストを使ったループを書いてみます。ループの中の処理はインデントといって右にずらして書きます。

In [ ]:
nums = [0,1,2,3,4,5]

for num in nums:
  print(num)

0
1
2
3
4
5

最初に変数を0にしてから、ループを使って合計値を出すことができます。

In [ ]:
sum = 0
for num in nums:
  sum += num

print(sum)

15

range()を利用することで範囲を決めて数字を利用できます。

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

ループの中にループを書くこともできます。

In [ ]:
for i in range(2):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1

whileを使うと条件を満たす限りループを行います。

In [ ]:
i = 0

while i < 5:
  print(i)
  i += 1

0
1
2
3
4

## リスト内包表記
リスト内部でループ処理を利用することができます。下記は0から4までの整数を2乗した数をリストにしています。

In [ ]:
nums = [i*i for i in range(5)]
print(nums)

[0, 1, 4, 9, 16]